apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: appointment-ingress
  namespace: appointment-service
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
    - host: appointment.example.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: appointment-service
                port:
                  number: 80
